/* Color Variables */

:root {
    --clr-background: #414141;
    --clr-game-border1: #595f43;
    --clr-game-border2: #abb78a;
    --clr-game-border3: #8b966c;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'VT323', monospace;    
}

body, .snake {
    background-color: var(--clr-background);
}

#game-board {
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin: 5px;
}

.game-border-1 {
    border: var(--clr-game-border1) solid 10px;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px var(--clr-game-border1);
}

.game-border-2 {
    border: var(--clr-game-border2) solid 8px;
    border-radius: 26px;
    box-shadow: inset 0 0 0 10px var(--clr-game-border2);
}

.game-border-3 {
    border: var(--clr-game-border3) solid 30px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 5px var(--clr-game-border3);
}

#instruction-text {
    position: absolute;
    top: 60%;
    color: #333;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    margin: 0;
}

.scores {
    display: flex;
    justify-content: space-between;
}

#score {
    color: var(--clr-game-border2);

}

#score, #highScore {
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0;
}

#highScore {
    color: #d8ddca;
    display: none;
}

.game-border-3, #logo {
    background-color: #c4cfa3;
}

.snake {
    border: #5a5a5a 1px dotted;
}

.food {
    background-color: #dedede;
    border: #999 5px solid;
}

#logo {
    position: absolute;
}

